.general {
  width: 80em;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 600;
 font-size: 4em;
}

/* Style the header with a background and some padding */
.header_logo {
  background: white;
  /* border: 1px solid black; */
  overflow: hidden;
  padding: 0.5em;
}

/* Style the header links */
.header_logo a {
  float: left;
  color: black;
}

/* Change the background color on mouse-over */
.header_logo a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
/* .header_logo a.active {
  background-color: dodgerblue;
  color: white;
} */

.header_logo img {
  max-width: 100%;
  height: auto;
  width: 100px;
}

/* Float the link section to the right */
.header_portada {
  float: right;
}

.botonAdornado {
  border: 1px solid dodgerblue;
  border-radius: 2px;
}

a:link {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
}

.enlace a {
  /* background-color: lightblue; */
  color: blue;
  padding: 10px 20px;
  text-align: center;
}

/* Change the background color on mouse-over */
.enlace a:hover {
  background-color: #ddd;
  color: darkblue;
}

#main {
  position: relative;
  font-family: 'Quicksand', sans-serif;
}

#first {
  background-image: url("./img/fondo_pw.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity:0.5;
  height: 100%;
  width: 100%;
}

#second {
  padding-top: 5em;
  padding-left: 20em;
  height:auto;
  width: 50em;
  position: absolute;
  top: 0;
  left: 0;
  color: darkblue;

  /* border: 1px solid black; */
}
